@model IEnumerable<ControlEmpleados23.Models.Empleado>

@{
    ViewBag.Title = "Empleados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Empleados</h2>

<p>
    @Html.ActionLink("Agregar registo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellidos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_n)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Departamento1.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellidos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_n)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Departamento1.Nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Codigo }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.Codigo }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Codigo })
        </td>
    </tr>
}

</table>
